.Nav {
  display: flex;
  background-color: aqua;
}

.Nav ul {
  list-style-type: none;
}

.Nav ul li {
  display: inline;

  margin-right: 20px; /* Add margin as needed */
}

.Nav ul li a {
  text-decoration: none;
  align-items: center;
  color: black;
}

.signup{
  color:aqua;
  text-align: center;
}
.login{
  color:aqua;
  text-align: center;
}
.inputBox{
margin-top: 50px;
height: 30px;
margin-left: 30%;
border: 3px solid aqua;
border-radius: 10px;
display: block;
width: 40%;
align-items: center;
}
.btn{
  border-radius: 10%;
  border: 3px solid aqua;
  margin-left: 45%;
  height: 50px;
  width: 70px;
  margin-top: 20px;
  background-color: transparent;

}
.btn:hover {
  color: azure;
  background-color: aqua;
}

/* Alternatively, you can use .Nav a to target all links within the Nav component */
